@model PokeQuizWebAPI.Models.PlayerModels.PlayerRankModel
@{
    ViewData["Title"] = "Rank";
}

<h1>@Model.Username</h1>
<h3>Rank: @Model.PlayerRank</h3>
<h3>Upper Percentile: @Model.PlayerPerrcentile.ToString("0.##")% </h3>
<h3>Overall Score: @Model.AverageScore.ToString("0.##")%</h3>

<br />
<br />

<table class="table" style="width: 35%">
    <thead align="center">
        <th colspan="2">
                Top Ten Players
        </th>
    </thead>
    <tbody>
        @for (int i = 1; i < Model.TopTenPlayers.Count()+1; i++)
        {
            <tr>
                <td>@i. </td>
                <td>@Model.TopTenPlayers[i-1]</td>
            </tr>
        }
    </tbody>
</table>
